<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>
    <span th:text="${board.id}"></span>
    게시물 보기
</h2>
<div>
    <label for="inputTitle">제목</label>
    <input type="text" id="inputTitle" th:value="${board.title}">
</div>
<div>
    <textarea for="textareaContent">본문</textarea>
    <input type="text" id="textareaContent" th:value="${board.content}">
</div>
<div>
    <label for="inputWriter">작성자</label>
    <input type="text" id="inputWriter" th:value="${board.writer}">
</div>
<div>
    <label for="inputCreated">작성일시</label>
    <input type="text" id="inputCreated" th:value="${board.createdAt}">
</div>
</body>
</html>