<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead('회원가입')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{layout/main::pageNavbar('signUp')}"></nav>

<div class="container">
    <div class="row justify-content-center">
        <col class="col-lg-6">
        <h2 class="mb-3">회원가입</h2>
        <form th:action="@{/member/signup}" method="post" class="mb-3">
            <div class="md-3">
                <label class="form-label" for="inputId">아이디</label>
                <input th:value="${member == null ? '' : member.id }" class="form-control"
                       id="inputId" type="text" name="id"></div>
            <div class="md-3">
                <label class="form-label" for="inputPassword">암호</label>
                <input th:value="${member == null ? '' : member.password }" class="form-control"
                       id="inputPassword" type="password" name="password"></div>
            <div class="md-3">
                <label class="form-label" for="inputNickName">별명</label>
                <input th:value="${member == null ? '' : member.nickName }" class="form-control"
                       id="inputNickName" type="text" name="nickName"></div>
            <div class="md-3">
                <label class="form-label" for="textareaInfo">자기소개</label>
                <textarea th:value="${member == null ? '' : member.info }" class="form-control"
                          id="textareaInfo" rows="3" name="info"></textarea>
            </div>
            <div class="md-3">
                <button class="btn btn-primary">가입</button>
                </div>
        </form>
    </div>
</div>

<th:block th:replace="~{layout/main::commonScript}"/>
</body>
</html>